extends layout

block content
  .container
    .col-5
      //img.rounded.float(src='/images/fg-wilson-logo.jpg', width='110', height='60', alt='')
      .loginForm
        h1 Login        
        form.form-signin(method='POST', action='/users/login')
          label Username:    
          input.form-control(name='username',type='text' ,placeholder='User Name', required='', autofocus='')
          label Password:
          input.form-control(name='password',type='password',placeholder='Password', required='', autofocus='')
          br
          input.btn.btn-primary(type='submit',value='Login')
          login-form

    


